<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="css/tranferencia.css">

    <title>Transferências</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <a class="navbar-brand" href="#"><img src="public/img/logo.png" width="50"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
                aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav mr-auto bd-navbar">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html" style="color: #010326;">Home<span class="sr-only">(página
                                atual)</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav bd-navbar">
                    <li class="mr-5">
                        <a class="nav-link align-content-center" href="#" style="color: #010326;">Área de Cliente</a>
                    </li>
                    <li>
                        <button id="cadastro" class="btn">
                            <a class="nav-link" href="formulario.html" style="color: #f2f2f2;">Abrir Conta</a>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="container">
            <div class="seu-saldo mt-3">
                <ul>
                    <li>
                        Olá, Fulano!
                    </li>
                </ul>
                <ul>
                    <li>
                        Seu Saldo: R$12300,00
                    </li>
                </ul>
            </div>
            <h1>Página de transferência</h1>
            <form class="form-container col-12 col-md-6" action="/interest/add" method="POST">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="cpf-titular">Insir o CPF ou CNPJ da conta que receberá:</label>
                        <input type="number" class="form-control" id="cpf-titular" name="cpf-titular"
                            placeholder="Digite CPF ou CNPJ">
                    </div>
                </div>

                <div class="form-group">
                    <label for="nome-titular">Insira o nome completo:</label>
                    <input type="text" class="form-control" id="nome-titular" name="nome-titular"
                        placeholder="Digite o nome do beneficiado">
                </div>

                <div class="form-group col-md-4" class="sr-only">
                    <label for="tipo-conta">Tipo de Conta</label>
                    <select name="tipo-conta" class="form-control w-100">
                        <option value="corrente">Conta Corrente</option>
                        <option value="poupanca">Conta Poupaça</option>
                        <option value="pagamento">Conta de Pagamento</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="agencia">Insira a agência SEM o digito:</label>
                    <input type="number" class="form-control" id="agencia" name="agencia" placeholder="Digite a agencia"
                        maxlength="5">
                </div>

                <div class="form-group">
                    <label for="conta">Insira a conta COM o digito:</label>
                    <input type="number" class="form-control" id="agencia" name="conta" placeholder="Digite a agencia"
                        maxlength="12">
                    <p style="font-size: small;">Use o 0 (zero) para digito em branco ou letra.</p>
                </div>

                <h3>Meu saldo: R$12300</h3>
                <div class="form-group">
                    <label for="conta">Informe o valor da transferência:</label>
                    <input type="number" class="form-control" min="0.00" max="10000.00" step="0.01"
                        placeholder="Digite o valor da transferencia">
                </div>

                <a href="#" data-toggle="modal" data-target="#meuModal"><button
                        class="btn btn-outline-primary">Continuar</button></a>

                <div class="modal" tabindex="-1" id="meuModal" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirme a Transferência</h5>
                            </div>
                            <div class="modal-body confirma-modal">
                                <!-- <%conta.forEach(function(conta){ %> -->
                                <ul>
                                    <li>

                                        CPF ou CNPJ da conta: <%= conta.cpf-titular %>
                                    </li>
                                    <li>

                                        Nome do Titular: <%= conta.nome-titular %>
                                    </li>
                                    <li>
                                        Tipo da conta:<%= conta.tipo %>
                                    </li>
                                    <li>
                                        Agência:<%= conta.agencia %>
                                    </li>
                                    <li>
                                        Conta: <%= conta.conta %>
                                    </li>
                                    <li>
                                        Valor da Transferência: <%= conta.valor %>
                                    </li>
                                </ul>
                                <% )}%>
                                    <section id="date"></section>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Alterar</button>
                                <button type="submit" class="btn btn-primary">Tudo certo! Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </section>
    </main>







    <script src="javascript/transferencia.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>