.confirma-modal li{
    list-style: none;
}

.seu-saldo{
    background-color: #037F8C;
    color: #f2f2f2;
    display: flex;
    justify-content: space-around;
}

.seu-saldo li{
    margin-top: 10px;
    list-style: none;
}